body{

    height: 100mm;
}
.info{
    text-align: center;
}

#searchdiv{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

}
#headerdiv {
    background-color: #423a79;
    height: 3cm;
    width: 100%;
    border: 6px solid #000;
}

#BookityLabel {
    color: white;
    text-align: center;
    font-size: 10mm;
    position: absolute;
    margin-left: 46%;

}

#menubuttons {
    text-align: center;

}

#windowlabel {
    font-size: 8mm;
    text-align: center;
    position: absolute;
    top: 21%;
    display: inline-block;
}

#windowlabel p {
    font-size: 8mm;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding-right: 60mm;

}
#booklabel{
    text-align: center;
}
#bodywindow {
    border: 6px solid #000;
    background-color: grey;
    width: 52%;
    position: relative;
    top: 15%;
    margin-left: 24.4%;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 10px;
    margin-top: 10px;
    overflow-y: scroll;
}

#pagination {
    text-align: center;
    margin-top: 20px;
}